$backGroundColor: #21294e;

#backGround {
  background-color: $backGroundColor;
  width: 70vw;
  height: 45vw;
  display: flex;
  margin: auto;
}
#imageContainer {
  width: 35%;
  margin: 30px;
  margin-left: 50px;
  flex-grow: 5;

  #imgParent {
    position: relative;
  }

  #frameImage {
    position: absolute;
    width: 80%;
  }

  #pokemonImage {
    position: absolute;
    width: 70%;
    top: 35px;
    left: 20px;
    // filter: brightness(0%);
  }
}

@keyframes fade {
  /*animation-nameで設定した値を書く*/

  0% {
    filter: blur(1.5rem);
  }
  100% {
    filter: blur(0rem);
  }
}
@keyframes fadeBrightness {
  /*animation-nameで設定した値を書く*/

  0% {
    filter: brightness(0%);
  }
  100% {
    filter: brightness(100%);
  }
}

#texts {
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
  text-align: center;
  width: 300px;
  flex-grow: 5;
  h1 {
    width: 100%;
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

h1,
ul {
  color: yellow;
}

ul {
  list-style: none;
  width: 100%;
  vertical-align: middle;
  padding: 0px;

  li {
    margin: 5px;
    width: 100%;
    height: 40px;
    line-height: 40px;
  }

  button {
    font-size: 20px;
    height: 30px;
    border: 1px solid;
    border-color: yellow;
    color: yellow;
    background-color: $backGroundColor;
    width: 90%;
  }
}

#buttons {
  margin: auto;
  text-align: center;
  width: 60vw;
  height: 50px;

  button {
    margin-top: 10px;
    width: 40%;
    height: 50px;
  }
}
#offsetContainer {
  margin: auto;
  margin-top: 15px;
  text-align: center;
  width: 60vw;
}
